<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Person In Need Project</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>

<body class="grey lighten-4">
    <nav>
        <div class="nav-wrapper teal accent-4">
            <a href="/" class="brand-logo center">The Person In Need Project</a>
        </div>
    </nav>

    <div class="container main valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="card-panel center-align">
                    <span>Thank you so much for the request. We will find a volunteer to help you out!</span>
                </div>
            </div>
        </div>
    </div>



    <footer class="page-footer teal accent-4">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Team Probis - ACS
            </div>
        </div>
    </footer>
</body>

</html>
